<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('css/main.css') }}" type="text/css" />
        <base href="/">

    </head>
    <body ng-app="techweb">
    {{ include('CoreBundle::header.html.twig') }}

    <div class="row bg-white">

        {% block body %}
            <div ui-view></div>
        {% endblock %}

    </div>

    {{ include('CoreBundle::footer.html.twig') }}

    {% block javascripts %}
        <script src="{{ asset('vendor/angular/angular.js') }}"></script>
        <script src="{{ asset('vendor/angular-ui-router/release/angular-ui-router.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/config/ui-route.js') }}"></script>
        <script src="{{ asset('js/controllers/MainController.js') }}"></script>
        <script src={{asset('bootstrap/dist/js/bootstrap.min.js')}}></script>


    {% endblock %}
</html>
